h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  margin-top: 3%;
  color: white;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3%;
}
body {
  background-color: #1a1a1a;
}
.flex1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  /* justify-content: space-between; */
  /* justify-content: end; */
}

.flex2 {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
}
img {
  /* width: 200px;
  height: 200px; */
  /* width: 290px;
  height: 270px; */
  /* height: 350px; */
  width: 410px;
  height: 227px;
}
