body {
  background-color: #1a1a1a !important;
}
#container1 {
  position: relative;
  margin: auto;
  margin-top: 10%;
  width: 50%;
  /* border: 5px solid #fffff8; */
  padding: 10px;
}
#textDiv {
  position: relative;
  margin-top: 1.5%;
}
#adnanImage {
  width: 60%;
  object-fit: cover;
  border-radius: 50%;
  float: left;
  margin-right: 15px;
  border: 10px solid rgba(255, 255, 255, 0.15);
  border-bottom: 7px solid #e2a20de1;
  max-width: 250px;
  min-width: 220px;
}
#p1 {
  margin-top: auto;
  font-size: 2.4vh;
  margin: 0;
  color: white;
}
#p2 {
  font-size: 3.5vh;
  margin: 0;
  color: #e2a20de1;
  font-weight: bold;
}
#p3 {
  color: white;
  font-size: 2.5vh;
}
.button {
  background-color: #e6a100e1;
  border: none;
  color: white;
  padding: 12px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 60px;
}
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
html,
body {
  overflow: hidden;
}
#sidebar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 100vh;
  background: #1a1a1a;
  text-align: center;
  transform-origin: left;
  transform: perspective(1200px) rotateY(90deg);
  transition: all 400ms ease;
}
#sidebar ul li {
  color: #ccc;
  font: 16px;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #222;
  line-height: 50px;
}
#sidebar.active {
  transform: perspective(1200px) rotateY(0deg);
}
#togglebtn {
  position: absolute;
  left: 30px;
  top: 20px;
  transition: left 200ms linear 0ms, transform 300ms ease 100ms;
}
#togglebtn.active {
  left: 230px;
  transform: rotate(360deg);
}
#togglebtn span {
  position: relative;
  top: 0px;
  display: block;
  background: #e2a20de1;
  width: 30px;
  height: 5px;
  margin: 5px 0px;
  cursor: pointer;
  transition: transform 300ms ease 200ms;
}
#togglebtn.active span:nth-child(1) {
  top: 10px;
  transform: rotate(45deg);
}
#togglebtn.active span:nth-child(2) {
  opacity: 0;
}
#togglebtn.active span:nth-child(3) {
  top: -10px;
  transform: rotate(-45deg);
}
